.paginator-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 447px;
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}
