.table {
  &__header {
    th {
      text-transform: uppercase;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      align-items: center;
      color: #b5b5c3;
    }
  }
}
.header-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}
