.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #464e5f;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.title-icon {
  color: #0072ca;
  background-color: #e8f5ff;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}
