.primary-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 15px;
  gap: 10px;
  background: #ffce33;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.primary-button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #464e5f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.secondary-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 15px;
  gap: 10px;
  background: #0090ff;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.secondary-button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
