.table {
  &__header {
    th {
      text-transform: uppercase;
    }
  }

  td {
    div {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .actions-cell {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}
