.searcher {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 25px;
  gap: 7px;
  flex-wrap: wrap;
}

.searcher > form {
  width: 100%;
  flex: 0.8;
  max-width: 350px;
  min-width: 200px;
}

.columnas-button {
  background: #f3f6f9 !important;
  color: #0090ff !important;
  border-color: #f3f6f9 !important;
}

.popover-footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 20px;
  padding-top: 25px;
}
